<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>

    <!--Navigation bar starts-->
    <nav class="header_nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <!--Navigation bar stop-->

    <div class="header_button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>